@using AdministrativoImperial.Common

@{
    ViewData["Title"] = "Obras";
    @model IEnumerable<AdministrativoImperial.Domain.Models.EntityDomain.Obra>
    
    var DateMin = Convert.ToDateTime(DataDictionary.DATE_MIN);
}

<div class="container-fluid py-4">
    <div class="row">
        <div class="col-12">
            <div class="card mb-4">
                <div class="card-header pb-0">
                    <h6 class="titulo-lista">Lista de Obras</h6>
                    <button class="btn btn-primary float-end" onclick="ModalObra()">Cadastrar</button>
                </div>
                <div class="card-body px-0 pt-0 pb-2">
                    <div class="table-responsive p-0">
                        <table id="tabelaObra" class="table align-items-center mt-2 mb-0">
                            <thead>
                                <tr>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Apelido</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 px-2">Início - Fim</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 px-2">Orçamento</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 px-2">Gasto Total</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 px-2">Lucro</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 px-2">Ações</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                <tr>
                                    <td>
                                        <div class="d-flex px-3 py-1">
                                            <div class="d-flex flex-column justify-content-center">
                                                <h6 class="mb-0 text-sm">@item.apelido</h6>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <p class="text-xs font-weight-bold mb-0">
                                            <span class="data-inicio">@item.data_inicio.ToString("dd/MM/yyyy")</span>
                                            -
                                            @if (DateMin != item.data_fim)
                                            {
                                                <span class="data-fim">
                                                    @item.data_fim.ToString("dd/MM/yyyy")
                                                </span>
                                            }
                                        </p>
                                    </td>
                                    <td class="align-middle">
                                        <p class="text-xs font-weight-bold mb-0">@item.orcamento.ToString("C")</p>
                                    </td>
                                    <td class="align-middle">
                                        <p class="text-xs font-weight-bold mb-0">0.00</p>
                                    </td>
                                    <td class="align-middletext-sm">
                                        <p class="text-xs font-weight-bold mb-0">000.00</p>
                                    </td>
                                    <td class="align-middle">
                                        <a href="javascript:;" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
                                            Edit
                                        </a>
                                    </td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Obra -->
<div class="modal fade" id="modalObra" tabindex="-1" role="dialog" aria-labelledby="exampleModalSignTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-md" role="document">
        <div class="modal-content">
            <div class="modal-body p-0">
                <div class="card card-plain">
                    <div class="card-header pb-0 text-left">
                        <h3 class="font-weight-bolder text-primary text-gradient">Cadastro de Obra</h3>
                        <p class="mb-0">Preencha os campos abaixo</p>
                    </div>
                    <div class="card-body pb-3">
                        <form role="form" class="text-left">
                            
                            <partial name="_DadosFormulario" />

                            <div class="text-center">
                                <button onclick="ModalObraFechar()" type="button" class="btn bg-gradient-danger btn-lg btn-rounded w-100 mt-4 mb-0">Cancelar</button>
                                <button onclick="ModalObraSalvar()" type="button" class="btn bg-gradient-primary btn-lg btn-rounded w-100 mt-4 mb-0">Salvar</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/js/Pages/Obra/index.js" asp-append-version="true"></script>
<script src="~/js/Pages/Obra/salvar.js" asp-append-version="true"></script>